h1 {
    font-size: x-large;
    color:yellow;
    font-family: Arial;
    text-align:center;
    text-decoration:underline;
    letter-spacing: 2.5px;
}

ul, ol, dt, dd {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

dd {
    font-size:25px;
}
img {
    height:100px;
    width: 100px;
    display: block;
    margin-left:auto;
    margin-right:auto;
}
nav {
    text-align:center;
    font-size:50px;
}
header {
    background-color:black
}
a {
    font-size:50px;
}